/* define variables  */
:root {
  --player1-btn-color: #548CFF;
  --player2-btn-color: #7900FF;
  --player-first-btn-color: rgb(112, 112, 208);
  --btn-hover: black;
  --footer-color: #FF0000;
  --border-dim-color: dimgray;
  --board-background: #a8dbb6;
  --board-border: #94DAFF;
  --square-border: #B983FF;
  --button-hover: #2EC1AC; /* rgb(123, 156, 123); */
  --square-hover: #D1FFF3;
  --play-reset-color: #F0D9E7 ;
}
/* set defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(237, 221, 221);
  margin: 16px;
}

.header {
  color: whitesmoke;
  margin: 10px;
  margin-bottom: 50px;
  text-align: center;
  background-image: linear-gradient(to right, #C400FF, #FF67E7 30%, #0CECDD);
  border-top: 4px solid var(--border-dim-color);
  border-bottom: 4px solid var(--border-dim-color);
}

section {
  display: flex;
  justify-content: center;
}

#message {
  color:rgb(203, 18, 18);
  margin-bottom: 20px;
  width: 500px;
  height: 20px;
  font-weight: 500;
  font-size: 18px;
  align-content: center;
}

.board {
  display: grid;
  width: 500px;
	height: 500px;
	margin: 0 auto;
  background-color: var(--board-background);
  color: #fff;
  border: 5px solid var(--board-border);
  border-radius: 10px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
  border: 6px outset var(--square-border);
  border-radius: 1px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 15px rgb(216, 187, 187);
}

.square:hover {
  cursor: pointer;
  background: var(--square-hover) ;
}

.players {
  display: flex;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 400px;
  margin: auto;
}

button {
  justify-content: center;
  margin-left: 20px;
  padding: .3rem 1.75rem;
  border-radius: 12px;
  cursor: pointer;
} 


button:hover {
  color: whitesmoke;
  background-color: var(--button-hover);
}

#play-reset:hover {
  color: rgb(200, 97, 97);
  background-color: var(--play-reset-color);
  transition: all 0.3s ease-in-out;
}

.game-status {
  display: flex;
  margin: 0 auto;
  justify-content: center;

}

.items {
  display: inline-block;
  margin-right: 56px;
  width: 100px;
  margin-top: 10px;
}

#p1-wins {
  margin-left: 90px;
}

#p2-wins {
  margin-right: 45px;
}

.footer {
  flex: 0 0 90px; /* don't grow or shrink just stay at this height */
  padding: 10px;
  text-align: center;
  margin-top: 150px;
  color: var(--footer-color);
}

@media only screen and (min-width: 600px) {
    body {
      width: 600px;
      margin: 0 auto;
  }  
}

